#out {
	border: 1px solid blue;
}

body {
	background-color: rgb(153, 204, 255);
}

table {
	background-color: rgb(255, 204, 60);
	border: 1px solid blue;
	width: 100%;
}

td {
	background-color: rgb(255, 204, 60);
	border: 1px solid blue;
}