body {
    margin: 0;
    background-color: rgb(153, 204, 255);
}

#out table {
	position: absolute;
	left: 10%;
	width: 80%;
	border-collapse: collapse;
	margin-top: 2em;
	background-color: rgb(255, 204, 60);
}

#out tr {
	border: 1px solid black;
}

#out td {
	padding-bottom: 1em;
	padding-top: 1em;
}